<div class="container">
    <h1>About Us</h1>
    <p>
      Welcome to the documentation for our Food Delivery App.
      Our aim is to provide a robust and user-friendly platform for ordering food online, facilitating the seamless delivery of meals from various restaurants to customers' doorsteps.
      Our goal is to create a scalable solution that enhances the food delivery experience for both customers and restaurant partners.
 
      The core objective of our Food Delivery App is to establish a versatile and scalable platform that facilitates seamless access to a diverse range of food options while fostering a vibrant and engaging online community.
      Our App endeavors to create an immersive and interactive space where users can effortlessly explore culinary delights, share gastronomic experiences, and forge valuable connections within a digital food-centric community.
    </p>
  </div>