<div class="order-success-container">
  <div class="order-success-content">
    <img src="https://th.bing.com/th?id=OIP.tsbwwgszPpVCqrCcuBzzQgHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="Order Success" class="order-success-image" />
    <h1 class="success-title">Order Successfully Placed!</h1>
    <p class="success-message">
      Thank you for your order! You will receive a confirmation email shortly. If you have any questions, feel free to contact us.
    </p>
    <button class="button" (click)="deliverDriver()">ok</button>
  </div>
</div>